header{

    background-color: blue;
    top: 0;
    width: 100%;
    z-index: 1000;
    
}

main{
    background-color: white; 
}

body {
    margin: 0%; /* Margen del cuerpo */
}

*{
    font-family: Arial;
    box-sizing: border-box;
}
.cta-container {
  background-image: url("../img_gif/cta.gif"); /* Imagen de fondo */
  background-size: cover; /* Cubre completamente el contenedor */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* No se repite la imagen de fondo */
  background-attachment: fixed; /* Fondo fijo en la ventana */
  opacity: 0.9; /* Opacidad del contenedor */
  text-align: center; /* Alineación del contenido al centro */
  padding: 100px 0; /* Espaciado interno */
  height: 100vh; /* Altura del 100% de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
}


.links-menu {
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 20px; /* Tamaño de la fuente */
    padding: 10px 20px; /* Espaciado interno */
    border: 1px solid white; /* Borde del botón */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-block; /* Elemento en línea */
    transition: 0.3s; /* Transición al pasar el ratón */
}

li {
    list-style: none; /* Elimina los puntos de la lista */
    float: right; /* Alineación a la derecha */
    margin: 0 10px; /* Margen derecho e izquierdo */
}

nav {
    display: flex; /* Flexbox */
    justify-content: flex-end; /* Alineación a la derecha */
    padding: 0px 20px; /* Espaciado interno */
}

.links-menu:hover {
    background-color: white; /* Fondo del botón */
    color: blue; /* Color del texto */
}

h1 {
    color: white; /* Color del texto */
    font-size: 50px; /* Tamaño de la fuente */
    margin: 10px; /* Elimina el margen */
    float: left; /* Alineación a la izquierda */
    width: 50%; /* Ancho del 50% */
}

footer {
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    align-items: center; /* Alineación vertical */
    display: flex; /* Flexbox */
    justify-content: center; /* Alineación al centro */
    padding: 10px 0; /* Espaciado interno */
    position: fixed; /* Posición fija */
    width: 100%; /* Ancho del 100% */
    bottom: 0; /* Alineación al fondo */
}

p {
    font-size: 20px; /* Tamaño de la fuente */
    margin: 10px; /* Margen */
    float: left; /* Alineación a la izquierda */
    width: 33%; /* Ancho del 50% */
}

li {
    list-style: none; /* Elimina los puntos de la lista */
    float: right; /* Alineación a la derecha */
    margin: 0 10px; /* Margen derecho e izquierdo */
}

.cta-button{

    border-radius: 10px;
    background-color: #f1c40f;
    padding: 10px 20px;
}

.cta-button:hover{
    background-color: #f39c12;
}

.botones-idioma{
    border-radius: 15px;
    margin-left: 5px;
    padding: 10px 20px;
}

.icon-idiomas{
    width: 30px;
    height: 30px;
}

.text-boton{
    margin-left: 5px;
    font-size: 20px;
}

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    display: flex;
    margin: 40px;
    margin-top: 100px;
    float: left;
    background-color: black;
}